div{
    text-align-last: center;
    width: 500px;
    border: 15px solid green;
    padding: 50px;
    margin: 50px;
    max-height: auto;
    background-color: powderblue;
    border: 1px solid black;
    outline: thick solid red;
    outline-offset: 10px;
}

/* HTML link color*/
a:link,a:visited{
    color: white;
    background-color: #f44336;
    text-decoration: none;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;

}

a:hover,a:active{
    color: blueviolet;
    background-color: transparent;
    text-decoration: underline;
}

